.page-node-type-global-keyword-search .page-header h1 {
  border: none;
  margin: 0;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 34px;
  line-height: 2.125rem;
  }

  #map { height: 180px; }