{% extends "_base.html" %}
{%block bodyclass %}path-frontpage page-node-type-page lang-en js{% endblock %}
{% block content %}
    <div id="main__body" class="main__body container-fluid home">

                      <div class="pre-content">
    <div data-drupal-messages-fallback="" class="hidden"></div>

  </div>

            <div class="region-content">
      
<div id="block-govwales-content">
  
    
      
<div role="article" about="https://gov.wales/" typeof="schema:WebPage">
  <div>
        
  </div>
</div>

  </div>

  </div>


      <div class="home__title container-fluid">
        <h1>
          <span class="visually-hidden">GOV.WALES</span>
          <span class="print"><img src="/themes/custom/govwales/images/logos/logo-gov-wales.png" alt="GOV.WALES"></span>
        </h1>
        <h2>Welsh Government services and information</h2>
      </div>
      <div class="container-fluid content-entity home__services">
        <div class="row">
          <div class="col-xs-12 col-lg-8 list-group list-group--narrow-column">
            <div class="row">
              <div class="views-element-container" id="block-views-block-policy-areas-top-level">
  
    
      <div>
  <div class="js-view-dom-id-f42438be68a192513b7aeac6d383500e333fd59928eca57f1572c1f0f7a1d10f">
  
  
  

      <header>
      
    </header>
  
  
  

  
    <div class="col-xs-12 col-md-6">
    <ul>
                      <li>
          <a href="https://gov.wales/arts-culture-sport" hreflang="en">Arts, culture and sport</a><p>Sport Wales, museums and historic environment</p>
        </li>
                      <li>
          <a href="https://gov.wales/building-planning" hreflang="en">Building and planning</a><p>Planning permission, building regulations, local development plans</p>
        </li>
                      <li>
          <a href="https://gov.wales/business-economy-innovation" hreflang="en">Business, economy and innovation</a><p>Business support, city regions, tourism, digital, broadband and mobile, science</p>
        </li>
                      <li>
          <a href="https://gov.wales/children-families" hreflang="en">Children and families</a><p>Flying Start, childcare, help for families, children's rights</p>
        </li>
                      <li>
          <a href="https://gov.wales/communities-regeneration" hreflang="en">Communities and regeneration</a><p>Communities facilities programme, taskforce for the valleys, third (voluntary) sector</p>
        </li>
                      <li>
          <a href="https://gov.wales/coronavirus" hreflang="en">Coronavirus (COVID-19)</a><p>Advice and support on coronavirus</p>
        </li>
                      <li>
          <a href="https://gov.wales/digital" hreflang="en">Digital</a><p>How we will use digital, data and technology to improve your lives</p>
        </li>
                      <li>
          <a href="https://gov.wales/education-skills" hreflang="en">Education and skills</a><p>Schools, further and higher education, skills and vocational training, student funding</p>
        </li>
                      <li>
          <a href="https://gov.wales/employment-work" hreflang="en">Employment and work</a><p>Help to get people into work, fair work and trade unions</p>
        </li>
                      <li>
          <a href="https://gov.wales/environment-climate-change" hreflang="en">Environment and climate change</a><p>Recycling, flooding, pollution and emissions</p>
        </li>
          </ul>
  </div>
    <div class="col-xs-12 col-md-6">
    <ul>
                      <li>
          <a href="https://gov.wales/equality" hreflang="en">Equality</a><p>Domestic abuse and sexual violence, diversity</p>
        </li>
                      <li>
          <a href="https://gov.wales/farming-countryside" hreflang="en">Farming and countryside</a><p>RPW Online, rural payments, animal movements, animal health, forestry</p>
        </li>
                      <li>
          <a href="https://gov.wales/health-social-care" hreflang="en">Health and social care</a><p>Health conditions, NHS management, social care</p>
        </li>
                      <li>
          <a href="https://gov.wales/housing" hreflang="en">Housing</a><p>Letting your property, help to buy a home, home improvement loans</p>
        </li>
                      <li>
          <a href="https://gov.wales/international-eu" hreflang="en">International and EU</a><p>European Structural and Investment Funds, transition period (Brexit), Ukraine</p>
        </li>
                      <li>
          <a href="https://gov.wales/justice-and-law" hreflang="en">Justice and law</a><p>Justice policy, prisoners and probation</p>
        </li>
                      <li>
          <a href="https://gov.wales/marine-fisheries" hreflang="en">Marine and fisheries</a><p>Marine planning, maritime and fisheries fund, fishing licences, marine conservation</p>
        </li>
                      <li>
          <a href="https://gov.wales/public-sector" hreflang="en">Public sector</a><p>Local government, public bodies, open government and transparency</p>
        </li>
                      <li>
          <a href="https://gov.wales/transport" hreflang="en">Transport</a><p>Bus passes, road improvements, local transport plans, cycling and walking</p>
        </li>
                      <li>
          <a href="https://gov.wales/welsh-language" hreflang="en">Welsh language</a><p>Welsh Language Tribunal, promoting the Welsh language</p>
        </li>
          </ul>
  </div>

    

  
  

  
  
</div>

</div>

  </div>

            </div>
          </div>
          <div class="services__col-2 col-xs-12 col-lg-4">
                          <div class="services__latest_news index-list-latest list-group list-group--bdr-top-sm">
                <h3 class="list-group__title">Announcements</h3>
                <div class="latest_news__items"><div class="views-element-container" id="block-views-block-announcements-home-latest-announcements">
  
    
      <div>
  <div class="js-view-dom-id-442ab39514e022ccde31fbeb3906f4ad1fc0ac5084e31ef04c45dce056ed7345">
  
  
  

  
  
  

      <div class="views-row"><span class="views-field views-field-title"><span class="field-content"><a href="https://gov.wales/380m-help-tackle-cost-living-crisis-wales">£380m to help tackle the Cost-of-Living crisis in Wales</a></span></span><div class="views-field views-field-field-last-updated"><div class="field-content">11 hours ago</div></div></div>
    <div class="views-row"><span class="views-field views-field-title"><span class="field-content"><a href="https://gov.wales/economy-minister-announces-45-million-funding-flexible-skills-programme">Economy Minister announces £4.5 million funding for Flexible Skills Programme</a></span></span><div class="views-field views-field-field-last-updated"><div class="field-content">11 hours ago</div></div></div>
    <div class="views-row"><span class="views-field views-field-title"><span class="field-content"><a href="https://gov.wales/10-million-funding-boost-domiciliary-care-wales">£10 million funding boost for domiciliary care in Wales</a></span></span><div class="views-field views-field-field-last-updated"><div class="field-content">1 day ago</div></div></div>

    

  
  

  
  
</div>

</div>

  </div>
</div>
                <div class="view_all"><a href="https://gov.wales/announcements">View more <span class="visually-hidden">announcements</span></a></div>
              </div>
                        <div class="services__browse_by index-list-latest list-group">
              <h3 class="list-group__title">Browse by</h3>
              <ul>
                <li><a href="https://gov.wales/announcements/search">Announcements</a></li>
                <li><a href="https://gov.wales/consultations">Consultations</a></li>
                <li><a href="https://gov.wales/publications">Publications</a></li>
                <li><a href="https://gov.wales/statistics-and-research">Statistics and research</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End home__services block -->

              <div class="container-fluid content-entity home__ctas">
          <div class="row">
            <div class="col-md-4 col-md-push-8 col-sm-12 col-xs-12">
              <div class="content-entity__outer">
                <div class="list-group">
                  <h3 class="list-group__title">Organisations</h3>
                </div>
                <div>This includes Welsh Government public bodies, advisory groups and companies.</div>
                <div class="home__organisations">
                  <div class="views-element-container">
  <div class="js-view-dom-id-588e25e2923f09de6cfd157966b1e23ef531813f8dc11ddc5c46a22b3630d2f2">
  
  
  

      <header>
      <a href="/organisations">
  <div class="home__organisations--total">208</div>
  <div class="home__organisations--label">
    <span>organisations </span>
    <span>including:</span>
  </div>
</a>
    </header>
  
  
  

      <div class="views-row"><div class="views-field views-field-title"><div class="field-content index-list__title"><a href="https://gov.wales/welsh-revenue-authority">Welsh Revenue Authority</a></div></div></div>
    <div class="views-row"><div class="views-field views-field-title"><div class="field-content index-list__title"><a href="https://gov.wales/transport-wales">Transport for Wales</a></div></div></div>
    <div class="views-row"><div class="views-field views-field-title"><div class="field-content index-list__title"><a href="https://gov.wales/welsh-language-commissioner">Welsh Language Commissioner</a></div></div></div>
    <div class="views-row"><div class="views-field views-field-title"><div class="field-content index-list__title"><a href="https://gov.wales/qualifications-wales">Qualifications Wales</a></div></div></div>
    <div class="views-row"><div class="views-field views-field-title"><div class="field-content index-list__title"><a href="https://gov.wales/cafcass-cymru">Cafcass Cymru</a></div></div></div>

    

  
  

  
  
</div>

</div>

                  <div class="view_all">
                    <a href="https://gov.wales/organisations">View all organisations</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-md-pull-4 col-sm-12 col-xs-12">
              <div class="content-entity__outer">
                <div class="list-group">
                  <h3 class="list-group__title">In focus</h3>
                </div>
                <div class="row cta-blocks">
                  <div class="cta_wrapper">
                                                                  
<div class="col-xs-12 col-sm-6 col-md-6 cta">
  <a class="cta__link" href="https://gov.wales/coronavirus-covid19">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2020-02/COVID-19.png" width="540" height="360" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Coronavirus (COVID-19)
  </a>
  <div class="cta__desc">
            <div>Follow the advice for coronavirus.</div>
      </div>
</div>

                                                                                        
<div class="col-xs-12 col-sm-6 col-md-6 cta">
  <a class="cta__link" href="https://gov.wales/ukraine">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2022-03/in-focus-ukraine-wales-thumb.jpg" width="600" height="400" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Wales stands with Ukraine
  </a>
  <div class="cta__desc">
            <div>How you can help and support the people of Ukraine.</div>
      </div>
</div>

                                                                                        
<div class="col-xs-12 col-sm-6 col-md-6 cta">
  <a class="cta__link" href="https://gov.wales/welsh-government-budgets">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2022-02/Money%20UK%20pic-thumb.jpg" width="600" height="400" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Welsh Budgets
  </a>
  <div class="cta__desc">
            <div>Our tax and spending priorities for Wales.</div>
      </div>
</div>

                                                                                        
<div class="col-xs-12 col-sm-6 col-md-6 cta">
  <a class="cta__link" href="https://gov.wales/welsh-government-blogs">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2022-03/wg-in-focus-blog-cta-en.png" width="600" height="400" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Welsh Government blogs
  </a>
  <div class="cta__desc">
            <div>Find out more about our work by reading and subscribing to our blogs.</div>
      </div>
</div>

                                                                                                                                                                                                                                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- End home__cta block -->
        <div class="container-fluid">
          <div class="content-entity__outer">
            <div class="list-group">
              <h3 class="list-group__title">Welsh government</h3>
            </div>
            <div class="row cta-blocks">
              <div class="cta_wrapper">
                                                                                                                                                                                              
<div class="col-xs-12 col-sm-6 col-md-3 cta">
  <a class="cta__link" href="https://gov.wales/about-us">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2017-09/about.jpg" width="601" height="400" alt="" loading="lazy" typeof="foaf:Image">

</div>

    About us
  </a>
  <div class="cta__desc"></div>
</div>

                                                                        
<div class="col-xs-12 col-sm-6 col-md-3 cta">
  <a class="cta__link" href="/ministers">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2018-12/WG%20RED%20LOGO%20503%20X%20336.png" width="503" height="336" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Ministers
  </a>
  <div class="cta__desc"></div>
</div>

                                                                        
<div class="col-xs-12 col-sm-6 col-md-3 cta">
  <a class="cta__link" href="/vacancies">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2017-10/job-2.jpg" width="210" height="140" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Jobs
  </a>
  <div class="cta__desc"></div>
</div>

                                                                        
<div class="col-xs-12 col-sm-6 col-md-3 cta">
  <a class="cta__link" href="https://gov.wales/our-priorities">
      <div class="cta__image">  <img src="/sites/default/files/cta-blocks/2021-06/pfg-cta-600x400.jpg" width="600" height="400" alt="" loading="lazy" typeof="foaf:Image">

</div>

    Our priorities
  </a>
  <div class="cta__desc"></div>
</div>

                                                </div>
            </div>
          </div>
        </div>
        <!-- End home__hightlighted block -->
            
      
    </div>
    {% endblock %}    