{% extends "_base.html" %}
{%block bodyclass %}page-node-type-global-keyword-search path-search lang-en js{% endblock %}
{% block content %}
            <main id="wg_main" class="wg_main">
              <div id="main__body" class="main__body container-fluid">
                <div class="ajax_content"><div class="ajax_inner">
                <div class="main__body-content">
          
          
                  <div class="pre-content">
              <div id="block-breadcrumbs">
            
              
                
          <nav class="breadcrumb container-fluid">
            <p class="visually-hidden">You are here:</p>
            <ul>
                        <li class="first parent">
                            <a href="/">Home</a>
                        </li>
                                                                <li class="last">
                            <a href="#content">Search</a>
                        </li>
                </ul>
          </nav>
          <div id="content"></div>
          
            </div>
          <div data-drupal-messages-fallback="" class="hidden"></div>
          <div id="block-govwales-page-title">
            
                <header class="page-header">
                  <h1 class="page-header__title">{{data['identifiers']['address']}}</h1>
                </header>
          
                <div id="map"></div>
                <ul style="margin-top:2em">
                  <li>Land Transaction Tax zone: {{data['attributes']['tax_zone']}}</li>
                  <li>Council Tax band: C</li>
                  <li>Bin collection: Wednesday</li>
                  <li>Local authority: <a href="#">Clwyd</a></li>
                </ul>
                <script>
                  
                  var map = L.map('map').setView([53.2194378,-2.9881433], 13);
                  var marker = L.marker([53.2194378,-2.9881433]).addTo(map);


                  L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                      subdomains: ['a','b','c']
                  }).addTo( map );
                </script>
            </div>
          
            </div>
          
            
            <div class="region-content">
                
          <div id="block-govwales-content">
            
              
                <div class="views-element-container">
            <div class="index-list js-view-dom-id-c0af5da4f33eb853c4d5a45302254e39d0d2fc63273c7e57cbfa5cc8280e5f67">
            
            
            
          
                  <div class="views-exposed-form components__form" data-drupal-selector="views-exposed-form-global-keyword-search-search-page" id="block-exposedformglobal-keyword-searchsearch-page">
               
            
            
          
            
            
          </div>
          
          </div>
          
            </div>
          
            </div>
          
          
          
            
          
            
          
            
          
              </div>
              </div></div>
          
              </div>
            </main>

            

            {% endblock %}    