{% extends "_base.html" %}
{%block bodyclass %}page-node-type-global-keyword-search path-search lang-en js{% endblock %}
{% block content %}
            <main id="wg_main" class="wg_main">
              <div id="main__body" class="main__body container-fluid">
                <div class="ajax_content"><div class="ajax_inner">
                <div class="main__body-content">
          
          
                  <div class="pre-content">
              <div id="block-breadcrumbs">
            
              
                
          <nav class="breadcrumb container-fluid">
            <p class="visually-hidden">You are here:</p>
            <ul>
                                                                              <li class="first parent">
                            <a href="/">Home</a>
                        </li>
                                                                <li class="last">
                            <a href="#content">Search</a>
                        </li>
                </ul>
          </nav>
          <div id="content"></div>
          
            </div>
          <div data-drupal-messages-fallback="" class="hidden"></div>
          <div id="block-govwales-page-title">
            
              
                
          
          
                <header class="page-header">
                        <h1 class="page-header__title">Search results for</h1>
                </header>
          
          
          
            </div>
          
            </div>
          
            
          
          
            
            
          
            
          
            
            <div class="region-content">
                
          <div id="block-govwales-content">
            
              
                <div class="views-element-container">
            <div class="index-list js-view-dom-id-c0af5da4f33eb853c4d5a45302254e39d0d2fc63273c7e57cbfa5cc8280e5f67">
            
            
            
          
                  <div class="views-exposed-form components__form" data-drupal-selector="views-exposed-form-global-keyword-search-search-page" id="block-exposedformglobal-keyword-searchsearch-page">
                <form action="/search" method="get" id="views-exposed-form-global-keyword-search-search-page" accept-charset="UTF-8">
            <div class="js-form-item form-item js-form-type-textfield form-item-global-keywords js-form-item-global-keywords">
                  <label for="edit-global-keywords--2">Search</label>
                    
            
            <input data-drupal-selector="edit-global-keywords" type="text" id="edit-global-keywords--2" name="global-keywords" value="{{search_term}}" size="30" maxlength="128" class="form-text">
          
          
                              </div>
          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2--5A6GNUj7Ykc">
            <input data-drupal-selector="edit-submit-global-keyword-search-2" type="submit" id="edit-submit-global-keyword-search--2" value="Search website" class="button js-form-submit form-submit">
          </div>
          </form>
            </div>
            <div style="clear:both">
              <p>
                You searched for a location. Click on an address to check publicly available information such as tax rates or bin collection days for properties in {{search_term}}
              </p>
            </div>
            <ul class="index-list__items">
              {% for property in properties %}
              <li class="index-list__item">
                <div role="article" about="https://gov.wales/report-tax-avoidance-or-evasion">  
                  <div class="index-list__title">
                    <a href="/property/{{property['uprn']}}"><span>{{property['address']}}</span>
                    </a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
            
          
          
            
            
          
            
            
          </div>
          
          </div>
          
            </div>
          
            </div>
          
          
          
            
          
            
          
            
          
              </div>
              </div></div>
          
              </div>
            </main>

            {% endblock %}    